body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.dropdown-select button {
    width: 300px;
    position: relative;
}

.dropdown-select .dropdown-menu {
    width: 300px;
}

.dropdown-select .btn .caret {
    margin-top: -2px;
    position: absolute;
    right: 12px;
    top: 50%;
    vertical-align: middle;
}

#edit-status {
    width: 130px;
}

.team-container {
    /*display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 5px;
    width: 200px;
    align-items: center;*/
}

.time-container {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 5px;
    width: 200px;
    align-items: center;
}
/*.status-container {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 5px;
    width: 200px;
    align-items: center;
}*/
div.team-container label {
    text-align: right;
}
div.team-container label:after { 
    content: ":"; 
}

div.time-container label {
    text-align: right;
}
div.time-container label:after { 
    content: ":"; 
}

/*div.status-container label {
    text-align: right;
}
div.status-container label:after { 
    content: ":"; 
}*/

/*.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    align-items: center;
}

.grid-item {
}*/

.highcharts-loading {
    opacity: 1 !important;
}

.highcharts-loading-inner {
    display: block;
}

    .highcharts-loading-inner,
    .highcharts-loading-inner:before,
    .highcharts-loading-inner:after {
        background: #dfdfdf;
        -webkit-animation: load1 1s infinite ease-in-out;
        animation: load1 1s infinite ease-in-out;
        width: 1em;
        height: 4em;
    }

.highcharts-loading-inner {
    color: #dfdfdf;
    text-indent: -9999em;
    margin: 0 auto;
    top: 50% !important;
    position: relative;
    font-size: 11px;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

    .highcharts-loading-inner:before,
    .highcharts-loading-inner:after {
        position: absolute;
        top: 0;
        content: '';
    }

    .highcharts-loading-inner:before {
        left: -1.5em;
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .highcharts-loading-inner:after {
        left: 1.5em;
    }

@-webkit-keyframes load1 {
    0%, 80%, 100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

@keyframes load1 {
    0%, 80%, 100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

.loader {
    height: 4px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
}

    .loader:before {
        display: block;
        position: absolute;
        content: "";
        left: -200px;
        width: 200px;
        height: 4px;
        background-color: #2980b9;
        animation: loading 2s linear infinite;
    }

@keyframes loading {
    from {
        left: -200px;
        width: 30%;
    }

    50% {
        width: 30%;
    }

    70% {
        width: 70%;
    }

    80% {
        left: 50%;
    }

    95% {
        left: 120%;
    }

    to {
        left: 100%;
    }
}



#showdetails-loader {
    display: none;
    margin-top: 8px;
}
