﻿@page
@model IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "CFD & Control Chart";
}


<div class="container">
    <div class="form-group">
        <div class="row mt-3"></div>
        <div class="row mt-2">
            <div class="col-md-5 form-group form-inline">

                <label>Team: </label>

                <select id="team-dropdown" name="team-dropdown" class="form-control">
                    <option value="0">Avengers</option>
                    <option value="1">Black Order</option>
                    <option value="2">Cassini</option>
                    <option value="5">All Teams</option>
                </select>
            </div>
            <div class="col-md-5 form-group form-inline">
                <label>Date: </label>
                <select id="time-dropdown" name="time-dropdown" class="form-control">
                    <option value="-2w">Last 2 Weeks</option>
                    <option value="-4w">Last 4 Weeks</option>
                    <option value="-12w">Last 3 Months</option>
                    <option value="-52w">Last Year</option>
                </select>
            </div>
            <div class="col-md-2">
                <div class="pull-right">
                    <div class="modal-container">
                        <button id="edit-status" type="button" class="btn btn-light" data-toggle="modal" data-target="#settingModal">Setting</button>
                        <!-- Modal -->
                        <div class="modal fade" id="settingModal" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">View/Edit Status</h4>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="list-group" id="status-list" contenteditable="true"></ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button id="save-status" type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row my-4">
            <div id="velocity-container"></div>
        </div>
        <div class="row my-4">
            <div id="cfd-container"></div>
        </div>
        <div class="row mt-4">
            <div id="cycleTime-container"></div>
        </div>
        <div class="row mt-4">
            <div id="ctrl-container"></div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-md-2 form-group form-inline">
            <a id="show-details-btn" href="javascript:void(0)" onclick="showDetail()">Show Details</a>
        </div>
        <div class="col-md-10 form-group form-inline">
            <div id="showdetails-loader" class="loader"></div>
        </div>
    </div>
</div>

<div id="details">
    <h3>Cycle Time Details</h3>
    <table id="records_table" class="table"></table>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/7.0.3/highcharts.js"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/7.0.3/highstock.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/7.0.3/modules/exporting.js"></script>

<script>

    $(document).ready(function () {
        drawAllCharts();
    });

    $("#team-dropdown").change(function () {
        drawAllCharts();
    });

    $("#time-dropdown").change(function () {
        drawAllCharts();
    });

    $("#edit-status").click(function () {
        getIssueStatuses();
    });

    $("#save-status").click(function () {
        updateIssueStatuses();
    });

    function drawAllCharts() {
        getIssueStatuses();

        var selectedStatuses = getSelectedStatus();
        var teams = getSelectedTeams();
        var fromDate = $('#time-dropdown').find(":selected").val();
        var currentTeam = teams.length > 1 ? teams[teams.length - 1] : teams[0];

        var cfdLabels = ["Ready for Dev", "In Progress", "In Testing", "PO Acceptance", "Dev Complete"];

        var cfd = makeCDFChart(currentTeam, fromDate, cfdLabels);
        var cycleTime = makeCycleTimeChart(currentTeam, fromDate, selectedStatuses);
        var ctrlChart = makeCtrlChart(currentTeam, fromDate, selectedStatuses);
        var velocityChart = makeVelocityChart(currentTeam, fromDate, selectedStatuses);

        getDataAndDrawCharts(cfd, cycleTime, ctrlChart, velocityChart, teams, fromDate, selectedStatuses, cfdLabels);

        $('#details').hide();
    }

    function getDataAndDrawCharts(cfd, cycleTime, ctrlChart, velocityChart, teams, fromDate, selectedStatuses, cfdLabels) {
        $.ajax({
            url: 'api/BuildBoard/GetChartsData',
            data: JSON.stringify({ "Teams": JSON.stringify(teams), "ReportLength": fromDate, "Data": JSON.stringify(selectedStatuses) }),
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            method: 'POST',
            beforeSend: function () {
                cfd.showLoading();
                cycleTime.showLoading();
                ctrlChart.showLoading();
            },
            complete: function () {
                cfd.hideLoading();
                cycleTime.hideLoading();
                ctrlChart.hideLoading();
            },
            success: function (result) {

                if (jQuery.isEmptyObject(result) || !result.success) {
                    showNoDataForChart(cfd);
                    showNoDataForChart(cycleTime);
                    showNoDataForChart(ctrlChart);
                    showNoDataForChart(velocityChart);
                    return;
                }
                var currentTeam = teams.length > 1 ? teams[teams.length - 1] : teams[0];
                drawCFDChart(cfd, result.cfdSeries, cfdLabels);
                drawCycleTimeChart(cycleTime, result.cfdSeries, currentTeam);
                drawCtrlChart(ctrlChart, result.ctrlChartSeries, result.chartCategories);
                drawVelocityChart(velocityChart, result.velocitySeries, currentTeam);
            },
            error: function () {
                showNoDataForChart(cfd);
                showNoDataForChart(cycleTime);
                showNoDataForChart(ctrlChart);
                showNoDataForChart(velocityChart);
            }
        });
    }

    function showNoDataForChart(chart) {
        chart.hideLoading();
        chart.renderer.text('No Data', (chart.plotWidth / 2) - 10, chart.plotHeight / 2)
            .css({
                color: '#4572A7',
                fontSize: '16px',
                display: 'table',
                margin: '0 auto',
            }).add();
    }

    function drawCFDChart(cfd, cfdSeries, selectedStatuses) {                
        for (i = 0; i < cfd.series.length; i++) {
            cfd.series[i].update({ name: selectedStatuses[i] }, false);
            cfd.redraw();
        }
        cfd.series[0].setData(cfdSeries[0].data);
        cfd.series[1].setData(cfdSeries[1].data);
        cfd.series[2].setData(cfdSeries[2].data);
        cfd.series[3].setData(cfdSeries[3].data);
        cfd.series[4].setData(cfdSeries[4].data);
    }

    function drawCycleTimeChart(cycleTime, cfdSeries, team) {

        cycleTime.series[0].setData(cfdSeries[5].data);

        var avg = 0;
        var latest = 0;
        for (var i = 0; i < cfdSeries[5].data.length; i++) {
            avg += cfdSeries[5].data[i][0];
            latest = cfdSeries[5].data[i][0];
        }
        avg = avg / cfdSeries[5].data.length;

        cycleTime.setTitle(
            {
                text: "Cycle Time <br />(Now = " + parseFloat(latest).toFixed(1) + "d, Avg = " + parseFloat(avg).toFixed(1) + "d)",
                x: -20 //center
            },
            {
                text: team,
                x: -20 //center
            },
            true);
    }

    function drawVelocityChart(velocityChart, velocitySeries, team) {

        velocityChart.series[0].setData(velocitySeries[0].data);

        var avg = 0;
        var latest = 0;
        var len = velocitySeries[0].data.length;
        for (var i = 0; i < len; i++) {
            avg += velocitySeries[0].data[i];
            latest = velocitySeries[0].data[i];
        }
        avg = avg / len;

        velocityChart.setTitle(
            {
                text: "Velocity <br />(Now = " + parseFloat(latest).toFixed(1) + "d, Avg = " + parseFloat(avg).toFixed(1) + "d)",
                x: -20 //center
            },
            {
                text: team,
                x: -20 //center
            },
            true);
    }

    function drawCtrlChart(ctrlChart, ctrlChartSeries, chartCategories) {
        ctrlChart.xAxis[0].setCategories(chartCategories);
        ctrlChart.xAxis[0].axisTitle.attr({ text: 'Issues (' + chartCategories.length + ')' });
        ctrlChart.series[0].setData(ctrlChartSeries[0].data);
        ctrlChart.series[1].setData(ctrlChartSeries[1].data);
        ctrlChart.series[2].setData(ctrlChartSeries[2].data);
        ctrlChart.series[3].setData(ctrlChartSeries[3].data);

        ctrlChart.xAxis[0].setExtremes(0, chartCategories.length > 40 ? 40 : chartCategories.length-1);
    }

    function makeCDFChart(team, fromDate, selectedStatuses) {

        return Highcharts.chart('cfd-container', {
            chart: {
                type: 'area'
            },
            title: {
                text: 'Cumulative Flow Diagram',
                x: 0 //center
            },
            subtitle: {
                text: team,
                x: 0
            },
            xAxis: {
                title: {
                    text: 'Days'
                },
                labels: {
                    style: {
                        fontSize: '10px'
                    }
                }
            },
            yAxis: {
                title: {
                    text: '# Issues'
                },
                floor: 0,
                labels: {
                    format: '{value}'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: ''
            },
            legend: {
                layout: 'horizontal',
                align: 'center',
                verticalAlign: 'bottom',
                borderWidth: 0
            },
            plotOptions: {
                area: {
                    stacking: 'normal'
                }
            },
            series:
                [{ "name": "", "data": [] }, { "name": "", "data": [] }, { "name": "", "data": [] }, { "name": "", "data": [] }, { "name": "", "data": [] }]
        });
    }

    function makeCycleTimeChart(team, fromDate, selectedStatuses) {
        return Highcharts.chart('cycleTime-container', {
            title: {
                text: 'Cycle Time',
                x: 0//-20 center
            },
            subtitle: {
                text: team,
                x: 0//-20
            },
            xAxis: {
                title: {
                    text: 'Day of Sprint'
                },
            },
            yAxis: {
                title: {
                    text: 'Cycle Time (Days)'
                },
                floor: 0,
                labels: {
                    format: '{value}'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: ''
            },
            legend: {
                layout: 'horizontal',
                align: 'center',
                verticalAlign: 'bottom',
                borderWidth: 0
            },
            series:
                [{ "name": "Cycle Time", "data": [] }]
        });
    }

    function makeVelocityChart(team, fromDate, selectedStatuses) {
        return Highcharts.chart('velocity-container', {
            title: {
                text: 'Velocity (Rolling 2-week period)',
                x: 0//-20 center
            },
            subtitle: {
                text: team,
                x: 0//-20
            },
            xAxis: {
                title: {
                    text: 'Day of Sprint'
                },
            },
            yAxis: {
                title: {
                    text: 'Velocity'
                },
                floor: 0,
                labels: {
                    format: '{value}'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: ''
            },
            legend: {
                layout: 'horizontal',
                align: 'center',
                verticalAlign: 'bottom',
                borderWidth: 0
            },
            series:
                [{ "name": "Velocity", "data": [] }]
        });
    }

    function makeCtrlChart(team, fromDate, selectedStatuses) {
        return Highcharts.chart('ctrl-container', {

            title: {
                text: 'Control Chart',
                x: 0//-20 center
            },
            subtitle: {
                text: team,
                x: 0//-20 center
            },
            xAxis: {
                type: "category",
                categories: [],
                labels: {
                    rotation: -90,
                    style: {
                        fontSize: '10px',
                    },
                },
                scrollbar: {
                    enabled: true
                },
                title: {
                    text: 'Issues'
                },
            },
            yAxis: {
                title: {
                    text: 'Cycle Time (Days)'
                }
            },
            legend: {
                layout: 'horizontal',
                align: 'center',
                verticalAlign: 'bottom',
                borderWidth: 0
            },
            plotOptions: {
                series: {
                    label: {
                        connectorAllowed: false
                    },
                    pointPlacement: 'on'
                },
                line: {
                    marker: {
                        enabled: true
                    }
                }
            },            
            series: [{
                name: 'Cycle Time',
                color: '#0000FF',
                dashStyle: 'Dot',
                marker: {
                    enabled: true,
                    radius: 4
                },
                data: []
            }, {
                name: 'Average',
                color: '#FF0000',
                marker: {
                    enabled: false,
                },
                data: []
            }, {
                name: 'UCL',
                color: '#800080',
                marker: {
                    enabled: false,
                },
                data: []
            }, {
                name: 'LCL',
                color: '#3CB371',
                marker: {
                    enabled: false,
                },
                data: []
            }],

            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }]
            }
        });
    }

    function showDetail() {
        var teams = getSelectedTeams();
        var fromDate = $('#time-dropdown').find(":selected").val();
        var selectedStatuses = getSelectedStatus();

        console.debug(fromDate);

        $.ajax({
            url: '/api/BuildBoard/GetCycleTimeData',
            data: JSON.stringify({ "Teams": JSON.stringify(teams), "ReportLength": fromDate, "Data": JSON.stringify(selectedStatuses) }),
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            method: 'POST',
            beforeSend: function () {
                $("#showdetails-loader").show()
            },
            complete: function () {
                $("#showdetails-loader").hide()
            },
            success: function (response) {
                if (response && response.success && !jQuery.isEmptyObject(response.cycleTimeData)) {
                    var html = '<table>';
                    $.each(response.cycleTimeData, function (i, day) {
                        var tickets = '';
                        if (day.items.length > 0) {
                            html += "<tr><td colspan=4><h4 class='bg-primary'>&nbsp;&nbsp;" + day.day + "</h4></td></tr>";

                            $.each(day.items, function (j, ticket) {
                                tickets += "<tr><td><a href='http://jira.attache.com/browse/" + ticket.name + "' target='_blank'>" + ticket.name + "</a></td><td> " + date(ticket.startedOn) + " </td><td> " + date(ticket.endedOn) + " </td><td> " + ticket.cycleTime + "d</td></tr>";
                            });
                            html += "<tr class='active'><td width=10%>Id</td><td width=15%>Started On</td><td width=15%>Resolved On</td><td width=10%> Cycle Time (d)</td></tr>"
                        }

                        html += tickets;
                    });

                    $('#records_table').html(html)
                    $('#details').show();

                    $([document.documentElement, document.body]).animate({
                        scrollTop: $("#show-details-btn").offset().top - 50
                    }, 1000);
                } else {
                    $('#records_table').html("<table><tr><td><h4 class='bg-primary'>&nbsp;&nbsp;No Data</h4></td></tr>");
                    $('#details').show();
                }
            },
            error: function () {
                $('#records_table').html("<table><tr><td><h4 class='bg-primary'>&nbsp;&nbsp;Failed to get data</h4></td></tr>");
                $('#details').show();
            }
        });


    }

    function updateIssueStatuses() {
        var listItems = $("#status-list li");
        var statusList = new Array();
        listItems.each(function (idx, li) {
            statusList.push($(li).text());
        });

        $.ajax({
            url: '/api/BuildBoard/UpdateIssueStatuses',
            data: JSON.stringify(statusList),
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            method: 'POST',
            success: function (response) {
                drawAllCharts();
            },
            error: function () {
                console.log("UpdateIssueStatuses - error");
            }
        });
    }

    function getIssueStatuses() {
        $.ajax({
            url: '/api/BuildBoard/GetIssueStatuses',
            data: {},
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            async: false,
            method: 'GET',
            success: function (response) {
                if (!jQuery.isEmptyObject(response)) {
                    $("#status-list").empty();

                    var statusList = "";
                    var statuses = JSON.parse(response);
                    for (i = 0; i < statuses.length; i++) {
                        statusList += "<li class='list-group-item'>" + statuses[i] + "</li>";
                    }
                    $("#status-list").append(statusList);
                }
            },
            error: function () {
                console.log("GetIssueStatuses - error");
            }
        });
    }

    function getSelectedStatus() {
        var listItems = $("#status-list li");
        var statusList = new Array();
        listItems.each(function (idx, li) {
            statusList.push($(li).text());
        });

        return statusList;
    }

    function getSelectedTeams() {
        var teamList = new Array();

        if ($('#team-dropdown').find(":selected").text() == "All Teams") {
            var listItems = $("#team-dropdown option");
            listItems.each(function (idx, option) {
                teamList.push($(option).text());
            });
        }
        else
            teamList.push($('#team-dropdown').find(":selected").text());
        return teamList;
    }

    function date(dt) {
        var date = new Date(dt);
        return date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear();
    }
   // $('#details').toggle();
</script>

